/* Root Settings ========================= */
:root {
    --color-background: #121214;
    --color-white: #fff;
    --color-yellow: #FFE549;
    --color-orange: #FFBD00;
    --color-green: #54B309;
    --color-light-green: #8de24b;
    --color-dark-green: #4A8F04;
    --color-gray: #e1e1e6;
    --color-icons: #41414d;
    --color-support: #737380;
    --color-shape: #202024;
    --color-shape-hover: #29292e;
    --color-scrollbar: #4d4d57;
    --color-scrollbar-background: transparent;
}

/* Geral ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%; /* 10px */
    scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
}

body {
    background: var(--color-background);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90vw;
    max-width: 1140px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Header ========================= */
#header {
    margin: 2rem 0;

    padding: 5rem 0;

    background: url('../img/background-header.png') top center no-repeat;
    background-size: contain;
}

#header .events-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .events-logos .logo-workshop {
    max-width: 200px;
}

#header .highlight {
    display: grid;
    grid-template-columns: 60% 1fr;

    padding: 5rem 0;
}

#header .highlight .content-highlight h1{
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: var(--color-white);
    letter-spacing: 0.15rem;
}

#header .highlight .content-highlight h2 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-orange);
    letter-spacing: 0.15rem;
    margin-top: 0.5rem;
}

#header .highlight .content-highlight h2 i {
    color: var(--color-light-green);
}

#header .highlight .content-highlight h2 span {
    font-weight: 700;
}

#header .highlight .content-highlight h3 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-orange);
    margin-top: 0.5rem;
}

/* Form ========================= */
.capture-form {
    height: auto;
    display: flex;
    align-items: center;
    margin: 5rem 0;
    border-radius: 0.5rem;
    background-color: var(--color-shape);
}

.capture-form form {
    width: 100%;
}

.capture-form form ul {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 3.2rem;
}

.capture-form form ul li.input-group {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 64px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background: var(--color-background);
    position: relative;
}

.capture-form form ul li.input-group:last-child {
    padding: 0;
    background: transparent;
}

.capture-form form ul li.input-group:focus-within{
    border-color: var(--color-orange);
}

.capture-form form ul li.input-group:focus-within i {
    color: var(--color-orange);
}

.capture-form form ul li.input-group i {
    color: var(--color-icons);
    width: 26px;
    height: 26px;
    font-size: 2.6rem;
}

.capture-form form ul li.input-group input {
    background: inherit;
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    width: 100%;
    height: 100%;
    transition: border-color .2s;
    color: var(--color-white);
    outline: none;
    padding: 1.2rem 2rem 1.2rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-background);
}

.capture-form form ul li.input-group input::placeholder {
    color: var(--color-support);
}

.capture-form form ul li.input-group button {
    cursor: pointer;
    outline: none;
    border: 0;
    width: 100%;
    height: 58px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-align: center;
    border-radius: 0.5rem;
    color: var(--color-shape);
    background: var(--color-yellow);
    text-transform:u ppercase;
    transform-style: preserve-3d;
    transition: all 175ms linear;
}

.capture-form form ul li.input-group button::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-orange);
    border-radius: inherit;
    transform: translate3d(0,6px,-1px);
    transition: all .15s linear
}

.capture-form form ul li.input-group button:focus,
.capture-form form ul li.input-group button:hover {
 background: var(--color-orange);
 transform: translateY(.375em)
}

.capture-form form ul li.input-group button:hover:before {
 transform: translateZ(-4px)
}

.capture-form form ul li.input-group button:active {
 transform: translateY(-2px)
}

.capture-form form ul li.input-group button:active:before {
 transform: translateZ(-1px)
}